IDI_MAINICON ICON "favicon.ico"
1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x40004
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "040904B0"
	{
		VALUE "FileDescription", "An editor for WiX Toolset's script"
		VALUE "InternalName", "WiX_Edit.exe"
		VALUE "OriginalFilename", "WiX_Edit.exe"
		VALUE "CompanyName", "asd-85110"
		VALUE "LegalCopyright", "(C) asd-85110. Using MPL v2.0."
		VALUE "ProductName", "WiX_Edit"
		VALUE "FileVersion", "1.0.0.1"
		VALUE "ProductVersion", "1.0.0.1"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409,0x04B0
}
}

#define wxUSE_NO_MANIFEST         0
#define wxUSE_DPI_AWARE_MANIFEST  2

#include "wx/msw/wx.rc"
